html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font: 1.6rem 'Nunito', sans-serif;
  margin: 0;
  color: var(--color-text-80);
  background: var(--color-background);
  overflow-x: hidden;
}

body, 
#root {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1;
}


p {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

button {
  all: unset;
}

a,
a:hover,
a:active,
:visited {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

.no-scroll {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}


