@font-face {
  font-family: "Nunito";
  font-weight: 400;
  src: url(./assets/fonts/Nunito/nunito-regular-webfont.woff2) format(woff2),
    url(./assets/fonts/Nunito/nunito-regular-webfont.woff) format(woff);
}

@font-face {
  font-family: "Nunito";
  font-weight: 500;
  src: url(./assets/fonts/Nunito/nunito-medium-webfont.woff2) format(woff2),
    url(./assets/fonts/Nunito/nunito-medium-webfont.woff) format(woff);
}

@font-face {
  font-family: "Nunito";
  font-weight: bold;
  src: url(./assets/fonts/Nunito/nunito-bold-webfont.woff2) format(woff2),
    url(./assets/fonts/Nunito/nunito-bold-webfont.woff) format(woff);
}

@font-face {
  font-family: "Rubik";
  font-weight: 400;
  src: url(./assets/fonts/Rubik/rubik-regular-webfont.woff2) format(woff2),
    url(./assets/fonts/Rubik/rubik-regular-webfont.woff) format(woff);
}

@font-face {
  font-family: "Rubik";
  font-weight: 500;
  src: url(./assets/fonts/Rubik/rubik-medium-webfont.woff2) format(woff2),
    url(./assets/fonts/Rubik/rubik-medium-webfont.woff) format(woff);
}

@font-face {
  font-family: "Rubik";
  font-weight: bold;
  src: url(./assets/fonts/Rubik/rubik-bold-webfont.woff2) format(woff2),
    url(./assets/fonts/Rubik/rubik-bold-webfont.woff) format(woff);
}

@font-face {
  font-family: "Rubik";
  font-weight: 900;
  src: url(./assets/fonts/Rubik/rubik-black-webfont.woff2) format(woff2),
    url(./assets/fonts/Rubik/rubik-black-webfont.woff) format(woff);
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font: 1.6rem "Nunito", sans-serif;
  margin: 0;
  color: white;
  overflow-x: hidden;
}

body,
#root {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1;
}

p {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

button {
  all: unset;
}

a,
a:hover,
a:active,
:visited {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

.no-scroll {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}
